{% extends 'base.html' %}

    {% block head %}

    {% endblock %}

    {% block body %}

<h2>Update Card</h2>
 <form action="/update/{{card.id}}" method = "POST">
            <input type = "text" name = "name" value="{{card.name}}"/>
            <input type = "integer" name = "attack" value="{{card.attack}}"/>
            <input type = "integer" name = "defense" value="{{card.defense}}"/>
            <input type = "integer" name = "cost" value="{{card.cost}}"/>
            <input type = "submit" value = "Update" />
 </form>
    {% endblock %}