click==8.0.1
colorama==0.4.4
coolname==1.1.0
Flask==2.0.1
Flask-Cors==3.0.10
Flask-Login==0.4.1
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
gunicorn==19.9.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mysqlclient==2.0.3
redis==3.5.3
SQLAlchemy==1.4.21
Werkzeug==2.0.1

